---
---

$mobile_max_width: 640px;

em {
  color: #e93399;
  font-style: normal;
}

img {
  max-width: 100%;
}

header {
  .link-github {
    img {
      height: 32px;
    }
  }
  strong {
    font-size: 1.5rem;
  }
}

footer {
  padding: 2rem 0;
}

#section-title {
  .title-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .title-left {
    background-image: url(../images/treefit-title-left.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title-right {
    background-image: url(../images/treefit-title-right.png);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: $mobile_max_width) {
    .title-content {
      padding-bottom: 0;
    }

    .title-left,
    .title-right {
      background-image: none;
    }
  }
}

#section-abstract {
  padding-top: 10px;
  padding-bottom: 10px;
  h3 {
    margin-top: 15px;
    font-size: 1.5rem;
  }
  p {
    font-size: 0.95rem;
  }
}

#section-theory {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid 1px lightgrey;
  h3 {
    margin: 10px 0 10px;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
  }
  .step {
    margin: 0 0 20px 10px;
    p {
      margin-bottom: 0;
      color: #333;
      img {
        max-width: 90%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

#section-getting-started {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f0f0f0;
  border-top: solid 1px lightgrey;

  h3 {
    margin: 10px 0 10px;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
  }
}
