<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
    {% if page.description %}
      {% assign description = page.description %}
    {% else %}
      {% assign description = site.description %}
    {% endif %}

    {% capture title %}{% if page.title == "none" %}{{ site.title }} - {{ description }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}{% endcapture %}
    {% capture relative_path %}{{ page.url | remove_first: page.path_prefix | remove: "index.html" }}{% endcapture %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.redirect %}
      <meta http-equiv="refresh" content="0;URL={{ page.redirect }}">
    {% endif %}

    <link rel="icon" type="image/png" href="/favicon.png">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description | strip_newlines }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="/assets/stylesheets/main.css"
          rel="stylesheet"
          media="screen">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm"
           role="navigation">
        <div class="container d-flex justify-content-between">
          <a href="/treefit/" class="navbar-brand d-flex align-items-center">
            Treefit
          </a>
          <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbar-content"
                  aria-controls="navbar-content"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse"
               id="navbar-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/treefit-r/">For R</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/treefit/python/">For Python</a>
              </li>
            </ul>
          </div>
          {% if page.github_repository %}
          <span>
            <a href="https://github.com/{{ page.github_repository }}"
               class="link-github">
              <img src="/assets/images/GitHub-Mark-Light-64px.png"
                   alt="GitHub repository">
            </a>
          </span>
          {% endif %}
        </div>
      </nav>
    </header>

    <main role="main">
      {{ content }}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p>&copy; 2020 Hayamizu lab, The Institute of Statistical Mathematics, Japan</p>
      </div>
    </footer>
  </body>
</html>
